<a href class="btn btn-default" ui-sref="app">
  <i class="fa fa-home"></i>
  Back
</a>
<div class="panel {{ active === -1 ? 'panel-primary' : 'panel-default'}}">
  <div class="panel-heading">
    <h3 class="panel-title">Start</h3>
  </div>
  <div ng-class="{'bg-success': active > -1}" class="panel-body">
    <ul class="list-group" ng-show="active === -1">
      <li class="list-group-item">
        <button type="button" class="btn btn-lg btn-primary" ng-click="start()">
          Click here to start update
        </button>
        <small>(this may take several minutes)</small>
      </li>
      <li class="list-group-item">
        <div class="well">
          <h3><i class="fa fa-info"></i> Note:</h3>
          AudibleHero will not make any changes to your Audible, it will only read data from the web site
          and display the results to you.
          <h4>How it works:</h4>
          AudibleHero will;
          <ol>
            <li>load your library.</li>
            <li>find all authors you have purchased books from.</li>
            <li>find all books published by these authors.</li>
            <li>group books by series.</li>
            <li>group books by authors.</li>
            <li>repeat 2.- 5. with incognito mode.</li>
          </ol>
          The list of books is stored on your computer, so if you go to another computer you have to run update again.
          <br>
          List of ignored books are stored on your Google account, so it will be shared between computers.
          <br>
          It is nevertheless wise to run update every time you open AudibleHero looking for a new book,
          or else AudibleHero will not know about them.
          <h5>Incognito</h5>
          AudibleHero will run the update twice, once as your user and once as incognito.
          <br>
          Reason is that books you can see are regional based. If you do a search in incognito you will see all books.
          <br>
          It is possible to buy books cross regionality.
          <br>
          In order to determine if a book appeared only when in incognito the update is ran twice.
        </div>
      </li>
    </ul>
  </div>
</div>

<h2><i class="fa fa-chevron-down"></i></h2>

<div class="panel {{ active === 0 ? 'panel-primary' : 'panel-default'}}">
  <div class="panel-heading">
    <h3 class="panel-title">Load your library</h3>
  </div>
  <div ng-class="{'bg-success': active > 0}" class="panel-body">
    <h2 ng-show="active === 0">
      <i class="fa fa-spin fa-spinner"></i>
      Loading your library
      ...
      <i class="fa fa-chevron-right"></i>
    </h2>

    <h2 ng-show="active > 0">
      Found {{bookCount}} books
    </h2>
  </div>
</div>

<h2><i class="fa fa-chevron-down"></i></h2>

<div class="panel {{ active === 1 ? 'panel-primary' : 'panel-default'}}">
  <div class="panel-heading">
    <h3 class="panel-title">Load author books</h3>
  </div>
  <div class="panel-body">

    <div ng-show="active === 1">
      <div class="progress">
        <div class="progress-bar" ng-style="{width: calcProgress() + '%'}">
          {{calcProgress()}} %
        </div>
      </div>
      <table class="table table-striped">
        <thead>
        <tr>
          <th>Author</th>
          <th>Book count</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="author in authors" ng-class="{success: !author.loading}">
          <td>
            <a href="/search?searchAuthor={{author.name}}">{{author.name}}</a>
          </td>
          <td>
            <div ng-show="author.loading">
              <i class="fa fa-spin fa-spinner"></i>
              Loading...
            </div>
            <div ng-show="!author.loading">
              <label>{{author.bookCount}}</label>
            </div>
          </td>
        </tr>
        </tbody>
      </table>
      <h2 ng-show="active > 1">
        Done
      </h2>
    </div>
  </div>
</div>

<h2><i class="fa fa-chevron-down"></i></h2>

<div class="panel {{ active === 2 ? 'panel-primary' : 'panel-default'}}">
  <div class="panel-heading">
    <h3 class="panel-title">Map books</h3>
  </div>
  <h2 class="panel-body">
    <h2 ng-show="active === 2">
      Working...
    </h2>
  </h2>
</div>
