<div class="col-md-3">
  <img ng-src="{{'img/superhero.png' | absoluteUrl}}">
</div>
<div class="col-md-9">
  <h1>Welcome to AudibleHero!</h1>
  <label ng-show="loading">Loading...</label>
  <label ng-show="!loading">Don't listen to them, we <i>read</i> books!</label>

  <div ng-if="data">
    <p>Last update: {{data.updated | date:'medium'}}</p>
    <a class="btn btn-primary" ui-sref="load">Update now</a>

    <div class="row">
      <p>
        You have <span class="badge">{{(books | where:{owned: true}).length | number:0}}</span> books in your library.
        <br>
        Of these you have downloaded <span class="badge">{{ (books | where:{downloaded:true}).length | number:0}}</span>.
        <br>
        That is a total of <span class="badge">{{books | where:{downloaded:true} | map:'duration.asHours()' | _sum | number:0}}</span>
        hours downloaded (and probably listened to!).
        <br>
        Found <span class="badge">{{data.books.length | number:0}}</span> books based on your authors.
      </p>
    </div>
  </div>
</div>

<div class="col-md-12" ng-if="data">
  <ul class="nav nav-tabs">
    <li ui-sref-active="active"><a ui-sref="app.newbooks">New Books<small>(by series)</small></a></li>
    <li ui-sref-active="active"><a ui-sref="app.allbooks">All Books</a></li>
  </ul>
  <ui-view></ui-view>
</div>
