#audiblehero {
  @import '../../bower_components/bootstrap/less/bootstrap.less';
  @import '../../bower_components/font-awesome/less/font-awesome.less';

  @fa-font-path: "./fonts";

  margin-top: 10px;

  .row {
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .height-hack {
    height: 250px;
  }

  .nav-tabs {
    height: 40px;
  }

  .thumbnail {
    position: relative;

    h1 {
      position: absolute;
      color: white;
      font-size: 81px;
      text-shadow: 2px 2px 2px black;
      text-align: center;
      margin: 0 auto;
      left: 55px;
      top: 23px;
    }
  }
}