<table st-table="books" class="table table-striped">
  <thead>
  <th colspan="13">
    <input st-search placeholder="global search" class="input-sm form-control" type="search"/>
  </th>
  <tr>
    <th></th>
    <th st-sort="title">Title</th>
    <th style="width: 15%" st-sort="authors">Authors</th>
    <th st-sort="ignored">Ignored</th>
    <th st-sort="downloaded">Downloaded</th>
    <th st-sort="incognito">Incognito</th>
    <th st-sort="datePurchased">Purchased</th>
    <th st-sort="dateReleased">Released</th>
    <th st-sort="length">Length</th>
    <th st-sort="missing">Missing</th>
    <th st-sort="ratings">Ratings</th>
    <th st-sort="score">Score</th>
    <th st-sort="series">Series</th>
  </tr>
  </thead>
  <tbody>
  <tr ng-repeat="book in books">
    <td>
      <a href="{{book.url}}">
        <img ng-src="{{book.thumbnailUrl}}" class="thumb img-responsive">
      </a>
    </td>
    <td>
      <a href="{{book.url}}">
        {{book.title}}
      </a>
    </td>
    <td>
      <span ng-repeat="author in book.authors track by $index">{{author}}</span>
    </td>
    <td>{{book.ignored}}</td>
    <td>{{book.downloaded}}</td>
    <td>{{book.incognito}}</td>
    <td>{{book.datePurchased}}</td>
    <td>{{book.dateReleased}}</td>
    <td>{{book.length}}</td>
    <td>{{book.missing}}</td>
    <td>{{book.ratings}}</td>
    <td>{{book.score}}</td>
    <td>
      <a ng-if="book.series" href="{{book.series.url}}">{{book.series.name}}</a>
    </td>
  </tr>
  </tbody>
  <tfoot>
  <tr>
    <td colspan="5" class="text-center">
      <div st-pagination="" st-items-by-page="itemsByPage" st-displayed-pages="7"></div>
    </td>
  </tr>
  </tfoot>
</table>