#audiblehero {
  @import '../../bower_components/bootstrap/less/bootstrap.less';
  @import '../../bower_components/font-awesome/less/font-awesome.less';

  @fa-font-path: "./fonts";

  margin-top: 10px;

  .row {
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .height-hack {
    height: 250px;
  }

  .nav-tabs {
    height: 40px;
  }

  .thumbnail {
    position: relative;

    h1 {
      position: absolute;
      color: white;
      font-size: 81px;
      text-shadow: 2px 2px 2px black;
      text-align: center;
      margin: 0 auto;
      left: 55px;
      top: 23px;
    }
  }

  .owned {
    h1 {
      //color: black;
    }

    img {
      //opacity: 0.8;
    }

    i.check {
      position: absolute;
      right: 10px;
      top: 10px;
    }
  }

  i.ignore {
    position: absolute;
    left: 10px;
    top: 10px;
  }

  .white-border {
    text-shadow: 2px 0 0 #fff, -2px 0 0 #fff, 0 2px 0 #fff, 0 -2px 0 #fff, 1px 1px #fff, -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff;
  }

  .overlay {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    opacity: 0.5;
    background-color: white;
  }

  .btn-default {
    color: black !important;
  }

  a.thumbnail {
    overflow: hidden;
  }
}