<div class="row">
  <div class="col-md-12">
    Filter:
    <label>
      <input type="checkbox" ng-model="filter.showMissing">
      Show missing books
    </label>
    <label>
      <input type="checkbox" ng-model="filter.showOwned">
      Show purchased books
    </label>
    <label>
      <input type="checkbox" ng-model="filter.showIgnored">
      Show ignored books
    </label>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    Visual:
    <label>
      <input type="checkbox" ng-model="filter.showSeriesNumber">
      Show series number
    </label>
    <label>
      <input type="checkbox" ng-model="filter.fadeOwned">
      Fade purchased books
    </label>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    Sorting:
    <div class="btn-group">
      <label ng-click="filter.reverse = !filter.reverse" class="btn btn-default btn-sm" ng-model="filter.predicate"
             btn-radio="'series.number'">Series
        number</label>
      <label ng-click="filter.reverse = !filter.reverse" class="btn btn-default btn-sm" ng-model="filter.predicate"
             btn-radio="'duration'">Hours</label>
    </div>
    <label>
      <i class="fa" ng-class="{'fa-chevron-up': filter.reverse, 'fa-chevron-down': !filter.reverse}"></i>
      Sort direction
    </label>
  </div>
</div>
