<div filter-control filter="filter"
     ng-init="filter.showMissing = true; filter.showSeriesNumber = true; filter.predicate = 'series.number'; filter.fadeOwned = true"></div>
<label>
  <input type="checkbox" ng-model="showOwnedAndMissing" ng-init="showOwnedAndMissing = true">
  Hide series without any purchased books
</label>
<label>
  <input type="checkbox" ng-model="filter.hideDuplicate" ng-init="filter.hideDuplicate = true">
  Hide books with a series number you already own
</label>

<div ng-repeat="books in grouped">
  <div ng-if="books.hasOwnAndMissing || !showOwnedAndMissing" class="col-md-12">
    <div class="panel panel-default" ng-show="filteredBooks.length > 0">
      <div class="panel-heading">
        <h2 class="panel-title">
          <a ng-href="{{books.url}}">
            <img ng-src="{{books.key.thumbnailUrl}}">
            <strong>{{books.title}}</strong>
          </a>
          <button class="btn btn-primary" ng-click="showAll = !showAll">
            <i class="fa fa-chevron-{{showAll ? 'down' : 'right'}}"></i>
            See all {{filteredBooks.length}} books
          </button>
          <button type="button" class="btn btn-default" ng-click="ignore($event, filteredBooks)">
            Ignore all visible books
          </button>
        </h2>
      </div>
      <div class="panel-body">
        <div ng-show="showAll">
          <div booktable books="books" filtered-books="filteredBooks" filter="filter"></div>
        </div>
      </div>
    </div>
  </div>
</div>
