<div class="panel panel-default" ng-repeat="group in books">
  <div class="panel-heading">
    <h2 class="panel-title">
      <img ng-src="{{group.owned[0].thumbnailUrl}}">
      {{group.key}}
      <button class="btn btn-primary" ng-click="group.showAll = !group.showAll">
        <i class="fa fa-chevron-{{group.showAll ? 'down' : 'right'}}"></i>
        See all {{group.missing.length}} books
      </button>
    </h2>
  </div>
  <div class="panel-body">
    <div ng-show="group.showAll">
      <div booktable books="group.missing"></div>
    </div>
  </div>
</div>
