<table filtered-items="filteredBooks" st-table="displayBooks" st-safe-src="books" st-set-filter="stCustomFilter"
       class="table table-striped">
  <thead>
  <tr>
    <th colspan="2">
      <a class="btn btn-default btn-sm" ng-click="filterByNewBooks()">
        <i class="fa fa-filter"></i>
        New books
      </a>
    </th>
    <th colspan="9">
      <input st-search placeholder="global search" class="input-sm form-control" type="search"/>
    </th>
    <th colspan="3">
      <a class="btn btn-default btn-sm" ng-click="ignoreBooks(displayBooks)">Ignore on page</a>
      <a class="btn btn-default btn-sm" ng-click="ignoreBooks(filteredBooks)">Ignore all</a>
    </th>
  </tr>
  <tr>
    <th colspan="14">
      <div ng-if="filteredBooks">
        Showing a total of <span class="badge">{{filteredBooks.length}}</span> books.
      </div>
    </th>
  </tr>
  <tr>
    <th></th>
    <th st-sort="title">Title</th>
    <th style="width: 15%" st-sort="authors">Authors</th>
    <th>
      <span st-sort="downloaded">Downloaded</span>
      <st-select-boolean ng-model="downloaded" predicate="downloaded"></st-select-boolean>
    </th>
    <th>
      <span st-sort="ignored">Ignored</span>
      <st-select-boolean ng-model="ignored" predicate="ignored"></st-select-boolean>
    </th>
    <th>
      <span st-sort="incognito">Incognito</span>
      <st-select-boolean ng-model="incognito" predicate="incognito"></st-select-boolean>
    </th>
    <th>
      <span st-sort="missing"> Missing</span>
      <st-select-boolean ng-model="missing" predicate="missing"></st-select-boolean>
    </th>
    <th st-sort="datePurchased">Purchased</th>
    <th st-sort="dateReleased">Released</th>
    <th st-sort="duration">Length</th>
    <th st-sort="ratings">Ratings</th>
    <th st-sort="score">Score</th>
    <th st-sort="series">Series</th>
    <th st-sort="series.number">Series number</th>
  </tr>
  </thead>
  <tbody>
  <tr ng-repeat="book in displayBooks">
    <td>
      <a href="{{book.url}}">
        <img ng-src="{{book.thumbnailUrl}}" class="thumb img-responsive">
      </a>
    </td>
    <td>
      <a href="{{book.url}}">
        {{book.title}}
      </a>
    </td>
    <td>
      <span ng-repeat="author in book.authors track by $index">{{author}}</span>
    </td>
    <td>
      <i ng-show="book.downloaded" class="fa fa-check"></i>
    </td>
    <td>
      <i ng-show="book.ignored" class="fa fa-check"></i>
      <button class="btn btn-default btn-sm" ng-click="toggleIgnore(book)">
        <span ng-show="book.ignored">Un-ignore</span>
        <span ng-show="!book.ignored">Ignore</span>
      </button>
    </td>
    <td>
      <i ng-show="book.incognito" class="fa fa-check"> </i>
    </td>
    <td>
      <i ng-show="book.missing" class="fa fa-check"></i>
    </td>
    <td>{{book.datePurchased}}</td>
    <td>{{book.dateReleased}}</td>
    <td>{{book.length}}</td>
    <td>{{book.ratings}}</td>
    <td>{{book.score}}</td>
    <td>
      <a ng-if="book.series" href="{{book.series.url}}">{{book.series.name}}</a>
    </td>
    <td>{{book.series.number}}</td>
  </tr>
  </tbody>
  <tfoot>
  <tr>
    <td colspan="5" class="text-center">
      <div st-pagination="" st-items-by-page="10" st-displayed-pages="7"></div>
    </td>
  </tr>
  </tfoot>
</table>
