<table st-table="displayBooks" st-safe-src="books" st-set-filter="stCustomFilter" class="table table-striped">
  <thead>
  <th colspan="13">
    <input st-search placeholder="global search" class="input-sm form-control" type="search"/>
  </th>
  <tr>
    <th></th>
    <th st-sort="title">Title</th>
    <th style="width: 15%" st-sort="authors">Authors</th>
    <th>
      <span st-sort="downloaded">Downloaded</span>
      <st-select-boolean predicate="downloaded"></st-select-boolean>
    </th>
    <th>
      <span st-sort="ignored">Ignored</span>
      <st-select-boolean predicate="ignored"></st-select-boolean>
    </th>
    <th>
      <span st-sort="incognito">Incognito</span>
      <st-select-boolean predicate="incognito"></st-select-boolean>
    </th>
    <th>
      <span st-sort="missing"> Missing</span>
      <st-select-boolean predicate="missing"></st-select-boolean>
    </th>
    <th st-sort="datePurchased">Purchased</th>
    <th st-sort="dateReleased">Released</th>
    <th st-sort="duration">Length</th>
    <th st-sort="ratings">Ratings</th>
    <th st-sort="score">Score</th>
    <th st-sort="series">Series</th>
    <th st-sort="series.number">Series number</th>
  </tr>
  </thead>
  <tbody>
  <tr ng-repeat="book in displayBooks">
    <td>
      <a href="{{book.url}}">
        <img ng-src="{{book.thumbnailUrl}}" class="thumb img-responsive">
      </a>
    </td>
    <td>
      <a href="{{book.url}}">
        {{book.title}}
      </a>
    </td>
    <td>
      <span ng-repeat="author in book.authors track by $index">{{author}}</span>
    </td>
    <td>
      <i ng-show="book.downloaded" class="fa fa-check"></i>
    </td>
    <td>
      <i ng-show="book.ignored" class="fa fa-check"></i>
    </td>
    <td>
      <i ng-show="book.incognito" class="fa fa-check"> </i>
    </td>
    <td>
      <i ng-show="book.missing" class="fa fa-check"></i>
    </td>
    <td>{{book.datePurchased}}</td>
    <td>{{book.dateReleased}}</td>
    <td>{{book.length}}</td>
    <td>{{book.ratings}}</td>
    <td>{{book.score}}</td>
    <td>
      <a ng-if="book.series" href="{{book.series.url}}">{{book.series.name}}</a>
    </td>
    <td>{{book.series.number}}</td>
  </tr>
  </tbody>
  <tfoot>
  <tr>
    <td colspan="5" class="text-center">
      <div st-pagination="" st-items-by-page="10" st-displayed-pages="7"></div>
    </td>
  </tr>
  </tfoot>
</table>
